{% extends 'myapp/base.html' %}
{% block container %}
<div class="form-container">
<div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for non_field_error in form.non_field_errors %}
        <p>{{ non_field_error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="field">
        <label class="label">
            {{ field.html_name }}
        </label>
        {{ field }}
        {% for error in field.errors %}
            <p>
                {{ error }}
            </p>
        {% endfor %}
        </div>
    {% endfor %}
    <div id="button">
    <button type="submit">Update</button>
    </div>
</form>
</div>
</div>
{% endblock container %}